  
<html>      
<head>      
 <script src="angular.min.js"></script>       
  
   
  <script>      
var app = angular.module('testing-root-element', []); 
    app.controller("ENC", function ($scope,$rootElement) {
      $scope.ShowRootElement = function()      
      {      
        $scope.AppName = $rootElement.attr('id')         
      }  
      });
</script>      
</head>      
<body style="background-color:#DDE4E9;">      
  <fieldset style="background-color:#DDE4E9;">                  
   
  <div ng-app="testing-root-element" id="hello">            
    <div ng-controller="ENC">       
      Get ng-app Name:              
        <input type="string" ng-model="AppName">                    
        <button ng-click="ShowRootElement()">Display ng-app Name</button> </br>   
    </div>            
</div>      
 </fieldset>       
</body>      
</html>   



 